@import "./__theme.scss";

button {
  background-color: $purple;
  border-radius: 5px;
  padding: 10px;
  font-weight: 600;

  &:hover {
    background-color: $light-purple;
  }
}

textarea {
  outline: none;
}

a {
  text-decoration: underline;
}
